@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --colorprimary: #8F57fd;
}

body {
    background-color: var(--colorprimary);
    font-family: 'Mulish', sans-serif;
}

.NavHeader {
    height: 100px;
    background-color: var(--colorprimary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavHeader__img {
    height: auto;
    width: 200px;
    margin-left: 1em;
}

.NavHeader__menu {
    margin-right: 2em;

    font-size: 16px;

}

.NavHeader__menu ul {
    display: none;
    list-style-type: none;
    position: absolute;
    text-align: right;
    margin-right: 2em;
    padding: 0;

}

.NavHeader__menu ul li {
    margin-top: 7px;

}

.NavHeader__menu:hover ul,
ul:hover {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

.NavHeader__menu--img {
    color: white;
    display: flex;
    align-items: center;
    gap: 3px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.main__titulo {
    color: white;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 28px;
}

.main__input {
    width: 65%;
    border-radius: 20px;
    padding: 10px;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
}

.main__input::placeholder {
    color: white;
    font-size: 18px;
    font-style: italic;
}

.carousel {
    width: 100%;
    
    padding: 30px;
    position: relative;

}

.carousel__container {
    white-space: nowrap;
    margin: 70px 30px;
    padding-bottom: 10px;
    overflow-x: scroll;
}

.carousel-item {

    width: 200px;
    height: 270px;
    border-radius: 20px;
    overflow: hidden;
    margin: 2.5em 2em 2.5em 0;
    display: inline-block;
    cursor: pointer;
    transition: 225ms all;
    transform-origin: center left;
    position: relative;
    font-family: 'Mulish', sans-serif;
}

.carousel-item__img {
    height: 100%;
    width: 100%;

}

.carousel__container::-webkit-scrollbar-thumb {
    background-color: rgba(17, 14, 151, 0.3);
    border-radius: 10px;
}

.carousel__container::-webkit-scrollbar {
    background-color: rgba(17, 14, 151, 0.3);
}

/* .carousel__container::-webkit-scrollbar {
    display: none;
} */

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0)100%);
    opacity: 1;
    font-size: 13px;
    padding: 5px;
    color: white;
    position: absolute;

    left: 2px;
    bottom: 2px;
    width: 100%;
}


.img-play,
.img-plus {
    width: 30px;
    height: 30px;
}

.carousel-item:hover~.carousel-item {
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    transform: scale(1.25);
    opacity: 1;
}